*{margin: 0; padding: 0;}

@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body{
    background-image: url('img/background.jpg');
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Poppins", sans-serif;
}

#main{
    padding: 35px 0;
    background-color: rgba(138, 43, 226,.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    font-size: 24px;
    font-weight: 200;
}

#description{
    margin: 15px 0;
    font-weight: 100;
    font-style: italic;
}

form{
    padding: 30px;
    width: 50%;
    background-color: rgba(92, 2, 175, 0.9);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0px solid #fff;
    border-radius: 10px;
}

input{
    margin-top: 5px;
    padding-left: 10px;
    width: 100%;
    height: 25px;
    border: 1px solid aquamarine;
    border-radius: 3px;
}
